* {
	 margin : 0;
	 padding : 0;
}

#canvas {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 z-index: -1; }

#menu {
	 top: 50px;
	 width: 700px;
	 height: 500px;
	 margin: auto;
	 position: relative;
	 padding: 20px;
	 border-radius: 5px;
	 color: white;
	 font-size: 17px;
	 font-family: sans;
	 background: hsla(-90, 15%, 50%, .97); }
#menu.hidden {
	 opacity: 0;
	 visibility: hidden;
	 -webkit-transition: opacity 150ms ease-in;
	 -moz-transition: opacity 150ms ease-out; }
#menu.visible {
	 opacity: 1;
	 visibility: visible;
	 -webkit-transition: opacity 150ms ease-out;
	 -moz-transition: opacity 150ms ease-in; }
#closeButton {
	 position: absolute; 
	 top: 10px;
	 right: 10px;
	 cursor: pointer;
}
#customize {
	 position: relative;
	 float: left;
	 width: 50%;
	 height: 100%; }
#colorWheelBox {
	 width: 200px;
	 height: 200px;
	 position: relative;
	 margin: auto;
	 margin-bottom: 5%; }

@-webkit-keyframes rotate {
	 from { -webkit-transform: rotate(0deg); }
	 to { -webkit-transform: rotate(360deg); }
}

#colorWheelBox svg {
	 -webkit-animation-name: rotate;
	 -webkit-animation-duration: 15s;
	 -webkit-animation-iteration-count: infinite;
	 -webkit-animation-timing-function: linear;

	 width: 100%;
	 height: 100%; }

#colorWheel {
	 width: 200px;
	 height: 200px;
	 position: absolute;
	 top: 0;
	 left: 0; }
#colorCursor {
	 display: none; }

#nameForm {
	 width: 100%;
	 text-align: center; }

#name {
	 display: block;
	 width: 100px;
	 margin: auto;
	 margin-bottom: 5%;
	 text-align: center; }

#displayNamesBox {
	 margin-top: 1em;
	 padding: .5em 1em;
	 text-align: center;
}

#about {
	 float: right;
	 width: 50%; }

.slide {
	 position: absolute;
	 left: 50px;
	 bottom: 50px; }

#customize h2 {
	 margin-bottom: 50px;
}

#customize input[type="submit"] {
	 padding: .5em 1em;
}

#about h2:not(:first-child) {
	 margin-top: 1.5em;
}

#about a {
	 padding: 2px;
	 text-decoration: none;
	 color: hsl(180, 80%, 90%);
}

#about a:hover {
	 background-color: hsla(0, 0%, 100%, .15);
}

#about ul {
	 list-style-position: inside;
}

