* {
	 margin : 0;
	 padding : 0;
}

/**
 * Canvas.
 */

#canvas {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 z-index: -1; }

/**
 * Menu.
 */

#menu {
	 top: 50px;
	 width: 700px;
	 height: 500px;
	 margin: auto;
	 position: relative;
	 padding: 20px;

	 border-radius: 5px;
	 color: white;
	 font-size: 17px;
	 font-family: sans;
	 background: hsla(-90, 15%, 50%, .97); }

#menu.hidden {
	 opacity: 0;
	 visibility: hidden;
	 -webkit-transition: opacity 150ms ease-in;
	 -moz-transition: opacity 150ms ease-out; }
#menu.visible {
	 opacity: 1;
	 visibility: visible;
	 -webkit-transition: opacity 150ms ease-out;
	 -moz-transition: opacity 150ms ease-in; }

#closeButton {
	 position: absolute; 
	 top: 10px;
	 right: 10px;

	 cursor: pointer;
}

/**
 * Customization panel.
 */

#customize {
	 position: relative;
	 float: left;
	 width: 50%;
	 height: 100%;
}

#customize h2 {
	 margin-bottom: 50px;
}

#colorWheelBox {
	 width: 200px;
	 height: 200px;
	 position: relative;
	 margin: auto;
	 margin-bottom: 5%;
}

@-webkit-keyframes rotate {
	 from { -webkit-transform: rotate(0deg); }
	 to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotate {
	 from { -moz-transform: rotate(0deg); }
	 to { -moz-transform: rotate(360deg); }
}

#colorWheelBox svg {
	 -webkit-animation-name: rotate;
	 -webkit-animation-duration: 15s;
	 -webkit-animation-iteration-count: infinite;
	 -webkit-animation-timing-function: linear;

	 -moz-animation-name: rotate;
	 -moz-animation-duration: 15s;
	 -moz-animation-iteration-count: infinite;
	 -moz-animation-timing-function: linear;

	 width: 100%;
	 height: 100%; }

#colorWheel {
	 width: 200px;
	 height: 200px;
	 position: absolute;
	 top: 0;
	 left: 0;
}

#colorCursor {
	 display: none;
}

#nameForm {
	 width: 100%;
	 text-align: center;
}

#name {
	 display: block;
	 width: 100px;
	 margin: auto;
	 margin-bottom: 5%;
	 text-align: center;
}

#displayNamesBox {
	 margin-top: 1em;
	 padding: .5em 1em;
	 text-align: center;
}

#customize input[type="submit"] {
	 padding: .5em 1em;
}

/**
 * Scores.
 */

#scores {
		float: right;
		width: 50%;
}

#scores h2 {
		margin-bottom: 50px;
}

#scores table {
		width: 100%;
		table-layout: fixed;
		border-collapse : collapse;
}

#scores th {
		font-weight: normal;
		border-bottom: 1px solid white;
}

#scores th, #scores td {
		width: 10%;
		text-align: center;
}

#scores th:first-child, #scores td:first-child {
		width: 80%;
		text-align: left;
}

#scores li {
		list-style-position: inside;
		list-style-type: disc;
}

#scores li span {
		color: white;
}
