* {
		margin: 0;
		padding: 0;

		color: black;
		font-family: sans;
}

/**
 * Tabbed panels.
 */

#form {
		width: 75%;
		margin: 3em auto 0em auto;
		padding: 0.6em;

		background-color: white;
}

#form > ul > li {
		display: inline;
		list-style: none;
}

#form li a {
		padding: 0.3em;
		padding-bottom: 0;

		background-color : white;
		border: 1px solid grey;
		border-bottom: none;
		text-decoration: none;
}

#form li a.selected {
		padding-bottom: 0.1em;

		background-color: white;
}

#form .panel {
		display: none;
		padding: 0.3em;

		background-color: white;
		border: 1px solid grey;
}

#form .panel#panel1 {
		display: block;
}

/**
 * Form content.
 */

#form .panel > table {
		width: 100%;
}

#form .entry {

}

#form .panel td:nth-child(1) {
		width: 30%;
}

#form .panel td:nth-child(2) {

}

input[type="submit"] {
	 padding: .2em .5em;
	 margin: 1em auto;

	 display: block;

	 /* Necessary for centering in Chrome */
	 width: 5em;

	 font-size: 14pt;

	 color: white;
	 border-radius: .3em;
	 border-width: 3px;
	 border-style: solid;
}

input[type="submit"] {
	 background-color: hsl(20, 60%, 60%);
	 border-color: hsl(20, 60%, 45%);

	 transition-property: background-color, border-color;
	 transition-duration: 150ms;
	 -webkit-transition-property: background-color, border-color;
	 -webkit-transition-duration: 150ms;
	 -moz-transition-property: background-color, border-color;
	 -moz-transition-duration: 150ms;
}

input[type="submit"]:hover {
	 cursor: pointer;

	 background-color: hsl(20, 60%, 75%);
	 border-color: hsl(20, 60%, 55%);
}

input[type="submit"]:disabled {
	 cursor: default;

	 background-color: hsl(20, 0%, 75%);
	 border-color: hsl(20, 0%, 55%);
}

#error {
		color: red;
}
