/**
 * Tabbed panels.
 */

section#form {
		margin: 3em 6em 0em 6em;
		padding: 0.6em;

		background: -webkit-linear-gradient(top, hsl(0, 0%, 24%) 0%, hsl(0, 0%, 14%) 60%, hsl(0, 0%, 8%) 100%);
		background: -moz-linear-gradient(top, hsl(0, 0%, 24%) 0%, hsl(0, 0%, 14%) 60%, hsl(0, 0%, 8%) 100%);
		background: linear-gradient(top, hsl(0, 0%, 24%) 0%, hsl(0, 0%, 14%) 60%, hsl(0, 0%, 8%) 100%);

		-webkit-box-shadow: 0 2px 3px hsl(0, 0%, 30%);
		-moz-box-shadow: 0 2px 3px hsl(0, 0%, 30%);
		box-shadow: 0 2px 3px hsl(0, 0%, 30%);
}

section#form ul {
		margin-bottom: 0.3em;
}

section#form .tab {
		display: inline;
		padding: 0.3em;

		background: -moz-linear-gradient(top, lightgrey 0%, grey 95%);
		background: -webkit-linear-gradient(top, lightgrey 0%, grey 95%);
		background: linear-gradient(top, lightgrey 0%, grey 95%);

		list-style: none;
}
section#form .tab a {
		color: white;
}

section#form .tab.selected {
		background: -moz-linear-gradient(top, lightgrey 0%, white 50%);
		background: -webkit-linear-gradient(top, lightgrey 0%, white 50%);
		background: linear-gradient(top, lightgrey 0%, white 50%);

		color: hsl(209, 18%, 52%);
}

section#form .tab.selected a {
		color: hsl(209, 18%, 52%);
}

/**
 * Panels.
 */

section#form .panel {
		display: none;
		padding: 0.3em;

		background-color: white;
}

section#form .panel#panel1 {
		display: block;
}

/**
 * Panel content.
 */

section#form .panel > table {
		width: 100%;
		border-spacing: 0em 1.618em;
}

section#form .entry {

}

section#form .panel td:nth-child(1) {
		width: 30%;
		padding-left: 1em;
}

section#form .panel td:nth-child(2) {

}

input[type="submit"] {
	 padding: .2em .5em;
	 margin: 1em auto;

	 display: block;

	 /* Necessary for centering in Chrome */
	 width: 5em;

	 font-size: 14pt;

	 color: white;
	 border-radius: .3em;
	 border-width: 3px;
	 border-style: solid;
}

input[type="submit"] {
	 background-color: hsl(20, 60%, 60%);
	 border-color: hsl(20, 60%, 45%);

	 transition-property: background-color, border-color;
	 transition-duration: 150ms;
	 -webkit-transition-property: background-color, border-color;
	 -webkit-transition-duration: 150ms;
	 -moz-transition-property: background-color, border-color;
	 -moz-transition-duration: 150ms;
}

input[type="submit"]:hover {
	 cursor: pointer;

	 background-color: hsl(20, 60%, 75%);
	 border-color: hsl(20, 60%, 55%);
}

input[type="submit"]:disabled {
	 cursor: default;

	 background-color: hsl(20, 0%, 75%);
	 border-color: hsl(20, 0%, 55%);
}

#error {
		color: red;
}

.bonusBox {
		cursor: pointer;
}

.tooltip {
		position: absolute;
		max-width: 20em;

		padding: 0.3em;

		background: -webkit-linear-gradient(top, hsl(0, 0%, 20%) 0%, hsl(0, 0%, 50%) 100%);
		background: -moz-linear-gradient(top, hsl(0, 0%, 20%) 0%, hsl(0, 0%, 50%) 100%);
		background: linear-gradient(top, hsl(0, 0%, 20%) 0%, hsl(0, 0%, 50%) 100%);

		color: white;
		border: 2px solid white;
		font-size: 0.8em;

		-webkit-box-shadow: 0 0 6px grey;
		-moz-box-shadow: 0 0 6px grey;
		box-shadow: 0 0 6px grey;
}
