* { margin: 0; padding: 0; }

body {
	 font-family: sans;
	 font-size: 12pt;
	 padding: 0.5em;

	 color: hsl(0, 0%, 30%);
}

.footer { clear: both; }

h2 {
		margin-bottom: 0.4em;
}

/**
 * Title.
 */

#title h1 {
		float: left;
		margin-left: 1em;
}

#title h2 {
		float: right;
		margin-right: 2em;
		padding-top: 0.9em;

		font-size: medium;
}

/**
 * Info.
 */

#info {
	 margin: 2em;
	 padding: 1em;
	 min-width: 600px;

	 background-color: lightgrey;
	 border-radius: 0.9em;
	 border: 0.4em solid hsl(-100, 10%, 45%);
}

#controls, #about {
		display: block;
		width: 44%;
}

#controls ul, #about ul {
		list-style-position: inside;
		list-style-type: circle;
}

#controls {
		float: left;
}

#controls .key {
		color: hsl(0, 0%, 20%);
}

#about {
		float: right;
}

#about a {
		text-decoration: none;
		color: hsl(0, 0%, 20%);
}

#about a:hover {
		text-decoration: underline;
}

/**
 * Forms.
 */

#forms {
	 margin: 2em;
	 padding: 1em;
	 min-width: 600px;

	 background-color: lightgrey;
	 border-radius: 0.9em;
	 border: 0.4em solid hsl(-100, 10%, 45%);
}

#createDiv, #joinDiv {
	 width: 44%;
}

#createDiv { float: left; }
#joinDiv { float: right; }

#createDiv [value="Create"] {
	 padding: .2em .5em;
	 margin: 1em auto;

	 display: block;

	 /* Necessary for centering in Chrome */
	 width: 5em;

	 font-size: 14pt;

	 color: white;
	 border-radius: .3em;
	 border-width: 3px;
	 border-style: solid;
}

#createDiv [value="Create"]:hover {
	 cursor: pointer;
}

/**
 * Create column.
 */

#createDiv ul {
	 list-style-position: inside;
}

#createDiv input[type="range"] {
	 width: 5em;
}

#createDiv [value="Create"] {
	 background-color: hsl(20, 60%, 60%);
	 border-color: hsl(20, 60%, 45%);
}

#createDiv [value="Create"]:hover {
	 background-color: hsl(20, 60%, 75%);
	 border-color: hsl(20, 60%, 55%);
}

/**
 * Join column.
 */

#gameList {
	 height: 10em;
	 overflow-y: scroll;
	 padding: .2em 0 .2em .5em;

	 list-style-position: inside;
	 list-style-type: circle;

	 background-color: white;
	 border-radius: .3em;
	 border-width: 2px;
	 border-style: solid;
	 border-color: hsl(-150, 30%, 45%);
}

#gameList a {
	 text-decoration: none;

	 color: hsl(-150, 60%, 45%);
}
