/**
 * Info.
 */

section#info {
		margin: 2em 6em 0 6em;
		padding: 1em;

		-webkit-column-count: 2;

		background: -webkit-linear-gradient(top, hsl(0, 0%, 24%) 0%, hsl(0, 0%, 14%) 60%, hsl(0, 0%, 8%) 100%);
		color: hsl(194, 94%, 30%);
		border-bottom: 2px solid hsl(194, 94%, 47%);
		box-shadow: 0 2px 3px hsl(194, 94%, 30%);
}

section#info h3 {
		color: hsl(194, 94%, 47%);
}

section#info ul {
		list-style-position: inside;
		list-style-type: square;
}

section#controls .key {
		color: hsl(194, 94%, 47%);
}

section#controls #goal {
		color: hsl(194, 94%, 47%);
		font-style: italic;
}

section#about a {
		color: hsl(194, 94%, 47%);
		text-decoration: none;
}

section#about a:hover {
		text-decoration: underline;
}

/**
 * Game list.
 */

section#join {
		margin: 2em 6em 0 6em;
}

section#join table {
		width: 100%;

		border-collapse: collapse;
}

section#join th {
		padding: 0.3em;

		background: -webkit-linear-gradient(top, hsl(0, 0%, 24%) 0%, hsl(0, 0%, 14%) 60%, hsl(0, 0%, 8%) 100%);
		color: hsl(194, 94%, 47%);
		border-bottom: 2px solid hsl(194, 94%, 47%);
		text-align: left;
		font-weight: bold;
}

section#join td {
		padding: 0.3em;
}

section#join tr:nth-child(even) {
		background-color: hsl(0, 0%, 95%);
}

section#join tr:nth-child(odd) {
		background-color: hsl(0, 0%, 90%);
}

section#join a {
		text-decoration: none;
		color: hsl(-150, 60%, 45%);
}
