* {
		margin: 0;
		padding: 0;
}

body {
		font-family: sans;
		font-size: 12pt;
		padding: 0.5em;

		color: hsl(0, 0%, 30%);
}

.footer {
		clear: both;
}

h2 {
		margin-bottom: 0.4em;
}

/**
 * Title.
 */

#title h1 {
		float: left;
		margin-left: 1em;
}

#title h2 {
		float: right;
		margin-right: 2em;
		padding-top: 0.9em;

		font-size: medium;
}

/**
 * Info.
 */

#info {
		margin: 2em;
		padding: 1em;
		min-width: 600px;

		background-color: lightgrey;
		border-radius: 0.9em;
		border: 0.4em solid hsl(-100, 10%, 45%);
}

#controls, #about {
		display: block;
		width: 44%;
}

#controls ul, #about ul {
		list-style-position: inside;
		list-style-type: circle;
}

#controls {
		float: left;
}

#controls .key {
		color: hsl(0, 0%, 20%);
}

#goal {
		font-style: italic;
}

#about {
		float: right;
}

#about a {
		text-decoration: none;
		color: hsl(0, 0%, 20%);
}

#about a:hover {
		text-decoration: underline;
}

/**
 * Game list.
 */

#joinDiv {
		margin: 2em;
		min-width: 600px;
}

#joinDiv h2 {
		float: left;
}

#joinDiv h3 a{
		float: right;

		color: grey;
		text-decoration: none;
}

#gameListTable {
		width: 100%;

		border-collapse: collapse;

		background-color: white;
		border-width: 2px;
		border-style: solid;
		border-color: hsl(-150, 30%, 45%);
}

#gameListTable th {
		padding: 0.3em;

		text-align: left;
		font-weight: bold;
}

#gameList tr {
		background-color: white;
}

#gameList tr:nth-child(odd) {
		background-color: hsl(-150, 30%, 92%);
}

#gameList td {
		padding: .3em;
}

#gameList a {
		text-decoration: none;

		color: hsl(-150, 60%, 45%);
}
