.range {

}

.range span {
		margin-left: 3em;
		padding: 0.3em;

		background: -webkit-linear-gradient(top, hsl(0, 0%, 24%) 0%, hsl(0, 0%, 14%) 60%, hsl(0, 0%, 8%) 100%);
		background: -moz-linear-gradient(top, hsl(0, 0%, 24%) 0%, hsl(0, 0%, 14%) 60%, hsl(0, 0%, 8%) 100%);
		background: linear-gradient(top, hsl(0, 0%, 24%) 0%, hsl(0, 0%, 14%) 60%, hsl(0, 0%, 8%) 100%);

		border: 1px solid hsl(194, 94%, 47%);
		color: white;
		font-size: 0.8em;

		-webkit-shadow: 0 1px 3px hsl(194, 94%, 30%);
		-moz-box-shadow: 0 1px 3px hsl(194, 94%, 30%);
		box-shadow: 0 1px 3px hsl(194, 94%, 30%);
}
