table.selectionBox {
		table-layout: fixed;
		width: 100%;

		border-collapse: collapse;
}

table.selectionBox th {
		width: 20%;
}

table.selectionBox button {
		width: 80%;
		padding: 0.2em;

		background-color: hsl(209, 29%, 80%);
		border-color: hsl(209, 20%, 61%);
		border-radius: 3px;
		border-width: 3px;
		border-style: solid;

		transition-property: background-color, border-color;
		transition-duration: 150ms;
		-webkit-transition-property: background-color, border-color;
		-webkit-transition-duration: 150ms;
		-moz-transition-property: background-color, border-color;
		-moz-transition-duration: 150ms;
}

table.selectionBox button:not(.selected):hover {
		background-color: hsl(209, 29%, 90%);
		border-color: hsl(209, 20%, 70%);
		cursor: pointer;
}

.selectionBox button.selected {
		border-width: 3px;
		border-color: hsl(209, 100%, 61%);
}
